#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Luego de la aparente despedida del madridismo que James Rodríguez protagonizó tras ser sustituido en el partido de Liga contra Sevilla,las especulaciones sobre el futuro del 10 colombiano están más encendidas que nunca. En Inglaterra se habla de un interés del Chelsea y en Colombia aseguran que está todo cerrado con Manchester United.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
